* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, rgb(45, 47, 162), rgb(123, 42, 155));
}

.todo-app {
    height: 550px;
    width: 100%;
    background-color: #fff;
    border-radius: 15px;
    margin: 80px 400px 30px;
    padding: 40px 30px 70px;
}

.todo-app h2 {
    justify-content: center;
    align-items: center;
    font-size: 40px;
    height: 50px;
    display: flex;
    margin-bottom: 20px;
}

.todo-app h2 img {
    width: 40px;
    margin-left: 15px;

}

.inputbox {
    display: flex;
}

.inputbox .input {
    background-color: rgb(227, 222, 222);
    flex: 1;
    padding: 10px;
    height: 40px;
    border: 0;
    outline: 0;
    border-radius: 40px;
    font-size: 14px;
}

.inputbox button {
    width: 100px;
    border: 0;
    outline: 0;
    height: 40px;
    padding: 10px;
    background-color: rgba(241, 109, 8, 0.804);
    color: #fff;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
}

ul li {
    margin-top: 10px;
    padding: 15px 8px 12px 30px;
    list-style: none;
    font-size: 15px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 20px;
    width: 25px;
    border-radius: 50%;
    background-image: url(unchecked.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 15px;
    left: 0;
}

ul li.checked {
    color: rgb(171, 74, 4);
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(checked.jpeg);
}

ul li span {
    position: absolute;
    right: 0;
    top: 15px;
     height: 20px;
    width: 20px;
    font-size: 19px;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    /* border: 1px solid black; */
}

ul li span:hover {
    background: #d9dadd;
}